<div class="bg-slate-300 w-2/5 mx-auto mt-10"> 
 <h1 class="text-3xl text-center font-bold text-green-700 pt-5">ACTIVIDAD 13 - ANGULAR </h1>
  <div class="bg-red-100 drop-shadow-2xl mx-10 mb-10">
    <h1 class="text-center font-bold text-blue-500 mt-5">
      {{ title | uppercase }}
    </h1>
    <div class="flex justify-center pb-10">
      <label for="valor" class="mr-5 mt-2.5">Valor: </label>
      <input
        type="text"
        id="valor"
        [(ngModel)]="valor"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-md focus:ring-blue-500 focus:border-blue-500 w-2/5 p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>

    <div class="flex justify-center">
      <p class="pb-3">
        <span class="mr-3">Resultado:</span>{{ valor | uppercase }}
      </p>
    </div>
  </div>

  <div class="bg-red-100 drop-shadow-2xl mx-10 mb-10">
    <h1 class="text-center font-bold text-blue-500 mb-5">
      {{ title2 | uppercase }}
    </h1>

    <div class="flex justify-center mb-5">
      <label for="valor" class="mr-5 mt-2">Valor: </label>
      <input
        type="text"
        [(ngModel)]="moneda"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-md focus:ring-blue-500 focus:border-blue-500 w-2/5 p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
    <div class="flex justify-center pb-10">
      <select
        name=""
        id=""
        [(ngModel)]="option"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-md rounded-md focus:ring-blue-500 focus:border-blue-500 w-80 p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="" selected>Seleccione el tipo de moneda</option>
        <option value="1">USD</option>
        <option value="2">UER</option>
      </select>
    </div>
    <div class="flex justify-center">
      <span *ngIf="option == '1'" ngClass="text-blue-500 text-xl">
        <strong>USD : </strong>{{ moneda | currency : "USD" }}
      </span>
      <span *ngIf="option == '2'" ngClass="text-red-500 text-xl">
        <strong>EUR : </strong>{{ moneda | currency : "EUR" }}
      </span>
    </div>
  </div>
  <div class="bg-red-100 drop-shadow-2xl mx-10">
    <h1 class="text-center text-xl text-blue-500 font-bold mb-5 pt-5">
      JSON PIPE
    </h1>
    <div class="m-5 pb-5">{{ estudiante | json }}</div>
  </div>
</div>
